<%- include('partials/header.ejs'); -%>


        <!-- Page Header End -->
        <div class="container-xxl py-5 page-header position-relative mb-5">
            <div class="container py-5">
                <h1 class="display-2 text-white animated slideInDown mb-4">Gallery</h1>
                <nav aria-label="breadcrumb animated slideInDown">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/">Home</a></li>
                        
                        <li class="breadcrumb-item text-white active" aria-current="page">Gallery</li>
                    </ol>
                </nav>
            </div>
        </div>
        <!-- Page Header End -->


        <!-- Classes Start -->
        <div class="container-xxl py-5">
            <div class="container">
                <div class="text-center mx-auto mb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 600px;">
                    <h1 class="mb-3">School Gallery</h1>
                    <p>Welcome to our school gallery, showcasing the vibrant life and activities of our students. Here, you'll find moments of joy, creativity, and learning captured through various events and everyday experiences.</p>
                </div>
                <div class="row g-4">
                    <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                        <div class="classes-item">
                            <div class="bg-light rounded w-75 mx-auto p-3">
                                <img class="img-fluid rounded" src="img/test1.png" alt="">
                            </div>
                            
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
                        <div class="classes-item">
                            <div class="bg-light rounded w-75 mx-auto p-3">
                                <img class="img-fluid rounded" src="img/test2.png" alt="">
                            </div>
                            
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
                        <div class="classes-item">
                            <div class="bg-light rounded w-75 mx-auto p-3">
                                <img class="img-fluid rounded" src="img/classes-3.jpg" alt="">
                            </div>
                            
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                        <div class="classes-item">
                            <div class="bg-light rounded w-75 mx-auto p-3">
                                <img class="img-fluid rounded" src="img/classes-4.jpg" alt="">
                            </div>
                            
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
                        <div class="classes-item">
                            <div class="bg-light rounded w-75 mx-auto p-3">
                                <img class="img-fluid rounded" src="img/classes-5.jpg" alt="">
                            </div>
                            
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
                        <div class="classes-item">
                            <div class="bg-light rounded w-75 mx-auto p-3">
                                <img class="img-fluid rounded" src="img/classes-6.jpg" alt="">
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Classes End -->




<%- include('partials/footer.ejs'); -%>