<%- include('partials/header.ejs'); -%>
        <!-- Carousel Start -->
        <div class="container-fluid p-0 mb-5">
            <div class="owl-carousel header-carousel position-relative">
                <div class="owl-carousel-item position-relative">
                    <img class="img-fluid" src="img/carousel-1.jpg" alt="">
                    <div class="position-absolute top-0 start-0 w-100 h-100 d-flex align-items-center" style="background: rgba(0, 0, 0, .3);">
                        <div class="container">
                            <div class="row justify-content-start">
                                <div class="col-10 col-lg-8">
                                    <h1 class="display-2 text-white animated slideInDown mb-4">Nurturing Young Minds for a Bright Future at <span style="color: #FE5D37;">Jain Samnopasak Senior Secondary School</span></h1>
                                    <p class="fs-5 fw-medium text-white mb-4 pb-2">At Jain Samnopasak Senior Secondary School, we believe in fostering creativity, curiosity, and a love for learning in a safe and supportive environment.</p>
                                    
                                    <a href="/about" class="btn btn-primary rounded-pill py-sm-3 px-sm-5 me-3 animated slideInLeft">Learn More</a>
                                    <a href="/contact" class="btn btn-dark rounded-pill py-sm-3 px-sm-5 animated slideInRight">Admissions</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="owl-carousel-item position-relative">
                    <img class="img-fluid" src="img/carousel-2.jpg" alt="Students in Classroom">
                    <div class="position-absolute top-0 start-0 w-100 h-100 d-flex align-items-center" style="background: rgba(0, 0, 0, .3);">
                        <div class="container">
                            <div class="row justify-content-start">
                                <div class="col-10 col-lg-8">
                                    <h1 class="display-2 text-white animated slideInDown mb-4">Empowering Students from Grade 1 to 12</h1>
                                    <p class="fs-5 fw-medium text-white mb-4 pb-2">Our comprehensive educational program from Grade 1 to 12 focuses on academic excellence, character building, and holistic development, preparing students for success in higher education and beyond. Join us to experience an inclusive and dynamic learning environment with state-of-the-art facilities and diverse extracurricular opportunities.</p>
                                    <a href="/about" class="btn btn-primary rounded-pill py-sm-3 px-sm-5 me-3 animated slideInLeft">Learn More</a>
                                    <a href="/contact" class="btn btn-dark rounded-pill py-sm-3 px-sm-5 animated slideInRight">Admissions</a></div>
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="owl-carousel-item position-relative">
                    <img class="img-fluid" src="img/carousel-2.jpg" alt="Happy Students in Classroom">
                    <div class="position-absolute top-0 start-0 w-100 h-100 d-flex align-items-center" style="background: rgba(0, 0, 0, .2);">
                        <div class="container">
                            <div class="row justify-content-start">
                                <div class="col-10 col-lg-8">
                                    <h1 class="display-2 text-white animated slideInDown mb-4">Make A Brighter Future For Your Child</h1>
                                    <p class="fs-5 fw-medium text-white mb-4 pb-2">Our school provides a nurturing environment where students excel academically, socially, and personally. With a focus on holistic development, we prepare students for a successful future.</p>
                                    <a href="/about" class="btn btn-primary rounded-pill py-sm-3 px-sm-5 me-3 animated slideInLeft">Learn More</a>
                                    <a href="/contact" class="btn btn-dark rounded-pill py-sm-3 px-sm-5 animated slideInRight">Admissions</a> </div>
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
        <!-- Carousel End -->


        <!-- Facilities Start -->
        <div class="container-xxl py-5">
            <div class="container">
                <div class="text-center mx-auto mb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 600px;">
                    <h1 class="mb-3">Enhancing Student Experience</h1>
                    <p>Discover how our school provides a nurturing environment and enriches the overall student experience through various programs and resources.</p>
                </div>
                <div class="row g-4">
                    <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.1s">
                        <div class="facility-item">
                            <div class="facility-icon rounded bg-primary">
                                <span class="bg-primary"></span>
                                <i class="fa fas fa-user-graduate fa-3x text-primary"></i>
                                <span class="bg-primary"></span>
                            </div>
                            <div class="facility-text bg-primary">
                                <h3 class="text-primary mb-3">Academic Excellence</h3>
                                <p class="mb-0">Our dedicated faculty and rigorous curriculum ensure academic excellence and prepare students for future challenges.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.3s">
                        <div class="facility-item">
                            <div class="facility-icon rounded bg-success">
                                <span class="bg-success"></span>
                                <i class="fa fa-trophy fa-3x text-success"></i>
                                <span class="bg-success"></span>
                            </div>
                            <div class="facility-text bg-success">
                                <h3 class="text-success mb-3">Co-curricular Activities</h3>
                                <p class="mb-0">We offer a wide range of co-curricular activities including sports, arts, and clubs to develop well-rounded individuals.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.5s">
                        <div class="facility-item">
                            <div class="facility-icon rounded bg-warning">
                                <span class="bg-warning"></span>
                                <i class="fa fa-chalkboard-teacher fa-3x text-warning"></i>
                                <span class="bg-warning"></span>
                            </div>
                            <div class="facility-text bg-warning">
                                <h3 class="text-warning mb-3">Positive Learning</h3>
                                <p class="mb-0">We foster positive learning experiences through innovative teaching methods and supportive peer interactions.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.7s">
                        <div class="facility-item">
                            <div class="facility-icon rounded bg-info">
                                <span class="bg-info"></span>
                                <i class="fa fa-users fa-3x text-info"></i>
                                <span class="bg-info"></span>
                            </div>
                            <div class="facility-text bg-info">
                                <h3 class="text-info mb-3">Community Engagement</h3>
                                <p class="mb-0">We engage our students in community service projects, fostering empathy, social responsibility, and leadership skills.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        

        <!-- About Start -->
        <div class="container-xxl py-5">
            <div class="container">
                <div class="row g-5 align-items-center">
                    <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s">
                        <h1 class="mb-4">Explore Jain Samnopasak Senior Secondary School</h1>
                        <p>Jain Samnopasak Senior Secondary School, established in 1899, is a historic institution managed by the Jain Shiksha Board. Located in the bustling area of Sadar Bazar, the school offers co-educational learning and is affiliated with the Central Board of Secondary Education (CBSE).</p>
                        <div class="row g-4 align-items-center">
                            <div class="col-sm-6">
                                <a href="/about" class="btn btn-primary rounded-pill py-3 px-5" href="">Read More</a>
                            </div>
                            <div class="col-sm-6">
                                
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 about-img wow fadeInUp" data-wow-delay="0.5s">
                        <div class="row">
                            <div class="col-12 text-center">
                                <img class="img-fluid w-75 rounded-circle bg-light p-3" src="img/test1.png" alt="">
                            </div>
                            <div class="col-6 text-start" style="margin-top: -150px;">
                                <img class="img-fluid w-100 rounded-circle bg-light p-3" src="img/test2.png" alt="">
                            </div>
                            <div class="col-6 text-end" style="margin-top: -150px;">
                                <img class="img-fluid w-100 rounded-circle bg-light p-3" src="img/about-3.jpg" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- About End -->


        <div class="container-xxl py-5">
            <div class="container">
                <div class="text-center mx-auto mb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 600px;">
                    <h1 class="mb-3">School Gallery</h1>
                    <p>Welcome to our school gallery, showcasing the vibrant life and activities of our students. Here, you'll find moments of joy, creativity, and learning captured through various events and everyday experiences.</p>
                </div>
                <div class="row g-4">
                    <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                        <div class="classes-item">
                            <div class="bg-light rounded w-75 mx-auto p-3">
                                <img class="img-fluid rounded" src="img/test1.png" alt="">
                            </div>
                            
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
                        <div class="classes-item">
                            <div class="bg-light rounded w-75 mx-auto p-3">
                                <img class="img-fluid rounded" src="img/test2.png" alt="">
                            </div>
                            
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
                        <div class="classes-item">
                            <div class="bg-light rounded w-75 mx-auto p-3">
                                <img class="img-fluid rounded" src="img/classes-3.jpg" alt="">
                            </div>
                            
                        </div>
                    </div>
                    
                </div>
                <div class="text-center">
                    <a class="btn btn-primary py-3 px-5" href="/gallery">Visit Gallery<i class="fa fa-arrow-right ms-2"></i></a>
                </div>
            </div>
        </div>
        <!-- Classes End -->


        <!-- Testimonial Start -->
<div class="container-xxl py-5">
    <div class="container">
        <div class="text-center mx-auto mb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 600px;">
            <h1 class="mb-3">What Parents Say!</h1>
            <p>Read what parents have to say about their children's experience at our school.</p>
        </div>
        <div class="owl-carousel testimonial-carousel wow fadeInUp" data-wow-delay="0.1s">
            <!-- Testimonial Item 1 -->
            <div class="testimonial-item bg-light rounded p-5">
                <p class="fs-5">The support and care my son receives at JAIN SAMNOPASAK Senior Secondary School are exceptional. The teachers are dedicated, highly skilled, and ensure that every child's needs are met. The curriculum is comprehensive.</p>
                <div class="d-flex align-items-center bg-white me-n5" style="border-radius: 50px 0 0 50px;">
                    <img class="img-fluid flex-shrink-0 rounded-circle" src="img/dummy.png" alt="Parent 1" style="width: 90px; height: 90px;">
                    <div class="ps-3">
                        <h3 class="mb-1">Rajesh Gupta</h3>
                        <span>Parent of Rohan Gupta</span>
                    </div>
                    <i class="fa fa-quote-right fa-3x text-primary ms-auto d-none d-sm-flex"></i>
                </div>
            </div>

            <!-- Testimonial Item 2 -->
            <div class="testimonial-item bg-light rounded p-5">
                <p class="fs-5">Choosing JAIN SAMNOPASAK Senior Secondary School for my daughter was the best decision we made. The school's emphasis on values and academic excellence has truly shaped her character and future.</p>
                <div class="d-flex align-items-center bg-white me-n5" style="border-radius: 50px 0 0 50px;">
                    <img class="img-fluid flex-shrink-0 rounded-circle" src="img/dummy.png" alt="Parent 2" style="width: 90px; height: 90px;">
                    <div class="ps-3">
                        <h3 class="mb-1">Neha Verma</h3>
                        <span>Parent of Priya Verma</span>
                    </div>
                    <i class="fa fa-quote-right fa-3x text-primary ms-auto d-none d-sm-flex"></i>
                </div>
            </div>

            <!-- Testimonial Item 3 -->
            <div class="testimonial-item bg-light rounded p-5">
                <p class="fs-5">We are impressed with the progress our daughter has made at JAIN SAMNOPASAK Senior Secondary School. The school's supportive environment and innovative teaching methods have exceeded our expectations.</p>
                <div class="d-flex align-items-center bg-white me-n5" style="border-radius: 50px 0 0 50px;">
                    <img class="img-fluid flex-shrink-0 rounded-circle" src="img/dummy.png" alt="Parent 3" style="width: 90px; height: 90px;">
                    <div class="ps-3">
                        <h3 class="mb-1">Amita Singh</h3>
                        <span>Parent of Ananya Singh</span>
                    </div>
                    <i class="fa fa-quote-right fa-3x text-primary ms-auto d-none d-sm-flex"></i>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Testimonial End -->


<%- include('partials/footer.ejs'); -%>